<a href="https://colab.research.google.com/github/pyefiuna/Laboratorio/blob/master/notebooks/Introduccion%20a%20Python/Primera_clase_Laboratorio_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo-horizontal.png](http://www.ing.una.py/images/logo-horizontal.png)
# PROBABILIDAD Y ESTADÍSTICA
## Laboratorio de Python
---

# Introducción a Python
## Operaciones aritmeticas básicas y manejo de variables

In [ ]:
5 + 6

11

In [ ]:
5 - 6

-1

In [ ]:
5 * 6

30

In [ ]:
5 ** 6

15625

In [ ]:
6 / 5

1.2

In [ ]:
6 // 5 # Esto es una división Entera

1

In [ ]:
a = 5
a = 'Esta es una cadena de texto'
a

'Esta es una cadena de texto'

In [ ]:
a = 5
b = 6
a + b

11

## Algunas funciones básicas

In [ ]:
# print
print('El valor de a es:', a)

El valor de a es: 5

In [ ]:
# len
a = '    '
len(a)

4

In [ ]:
# Listas 
lista = [a, b, 5.5, 'hola']
# len(lista)

# Tuplas
tupla = (a, b)
len(tupla)

# Diccionario
d = {'key 1': 'valor 1'}

In [ ]:
# max y min
max(a, b)

6

In [ ]:
# linea 1
# 2
# 3

'''
esto es un comentario
de varias lineas
Docstring
'''
print('no va a hacer nada')

no va a hacer nada

In [ ]:
print("mita'i")

mita'i

In [ ]:
# if, elif
if a > b:
  print('a es mayor que b')
elif b > a:
  print('b es mayor que a')
else:
  print('a no es mayor que b')

b es mayor que a

In [ ]:
# for, range

# for( int i = 0; i <=10; i++){} esto es para c++

for i in range(0,10, 3):
  if i < 7:
    print(i)
  else:
    break

0
3
6

## ¿Cómo crear mis propias funciones?

In [ ]:
def calcular_firma(PP, SP, T):
  print('La firma del alumno es:', PP+SP+T)

def calcular_taller():
  print('El puntaje de taller es: 10')

In [ ]:
calcular_firma(20, 27, 10)

La firma del alumno es: 57

# Introducción a los módulos (librerías)
## ¿Cómo conectar Colab y Drive?

In [1]:
ruta = '/content/drive/MyDrive/Probabilidad y Estadística/2021-2/Clase 1 - Introducción/Asuncion-Poblacion-estimada-y-proyectada-segun-grupos-de-edad-2000-2025.xlsx'

## ¿Cómo importar módulos?

In [2]:
import pandas as pd

# Introducción a Pandas
## Cargar y visualizar tablas

In [3]:
poblacion = pd.read_excel(ruta)

In [4]:
# info()
poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   #       54 non-null     object
 1   2000    54 non-null     int64
 2   2001    54 non-null     float64
 3   2002    54 non-null     float64
 4   2003    54 non-null     float64
 5   2004    54 non-null     float64
 6   2005    54 non-null     float64
 7   2006    54 non-null     float64
 8   2007    54 non-null     float64
 9   2008    54 non-null     float64
 10  2009    54 non-null     float64
 11  2010    54 non-null     float64
 12  2011    54 non-null     float64
 13  2012    54 non-null     float64
 14  2013    54 non-null     float64
 15  2014    54 non-null     float64
 16  2015    54 non-null     float64
 17  2016    54 non-null     float64
 18  2017    54 non-null     float64
 19  2018    54 non-null     float64
 20  2019    54 non-null     float64
 21  2020    54 non-null     float64
 22  2021    54 non-null     float64
 23  2022    54 non-null     float64
 24  2023    54 non-null     float64
 25  2024    54 non-null     float64
 26  2025    54 non-null     float64
dtypes: float64(25), int64(1), object(1)
memory usage: 11.5+ KB

In [ ]:
# head()
poblacion.head(10)

                #    2000  ...          2024          2025
0  Asuncion-Total  527712  ...  521630.49700  522615.83870
1           0 a 4   48938  ...   36440.59703   36335.13143
2           5 a 9   47774  ...   38459.17976   37692.59410
3         10 a 14   49455  ...   42292.58316   41312.10081
4         15 a 19   56256  ...   44972.00701   44463.84133
5         20 a 24   56546  ...   43872.94654   44168.23864
6         25 a 29   46609  ...   37110.57877   38183.72867
7         30 a 34   37578  ...   34497.79791   34433.73264
8         35 a 39   33243  ...   34918.43210   33842.99224
9         40 a 44   30190  ...   39546.49394   38664.79064

[10 rows x 27 columns]

In [ ]:
poblacion.tail(8)

          #   2000          2001  ...          2023          2024          2025
46  45 a 49  14559  14753.951120  ...  20178.790550  20993.225770  21542.397350
47  50 a 54  12317  12571.518700  ...  15015.695160  15738.551170  16574.679450
48  55 a 59  10275  10453.675890  ...  12763.594360  12807.612650  12989.243250
49  60 a 64   8671   8780.328807  ...  12264.301660  12245.944160  12204.484090
50  65 a 69   7122   7163.637656  ...  10872.910210  11015.609800  11139.098120
51  70 a 74   6198   6160.285224  ...   8678.920210   8919.063910   9147.158934
52  75 a 79   4553   4683.760664  ...   6269.563508   6470.966097   6684.091771
53    80 y+   5671   5782.668435  ...   8653.099176   8854.911692   9077.692782

[8 rows x 27 columns]

## Selección de columnas, filas, selección de segmentos de tabla y selección condicional

In [ ]:
poblacion[['#',2022,2023]].head(2)

                #          2022          2023
0  Asuncion-Total  520917.44110  521091.10960
1           0 a 4   37093.77102   36700.12936

In [ ]:
list(range(2000, 2011))

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

In [ ]:
poblacion[list(range(2000, 2011))].head()

     2000          2001          2002  ...          2008          2009          2010
0  527712  528865.42170  529802.84880  ...  531701.20830  531388.90870  530895.41600
1   48938   49810.19573   50614.80990  ...   50409.99215   49742.00536   48932.31795
2   47774   47276.68816   46890.51326  ...   49925.83041   50306.09144   50254.11174
3   49455   48183.84797   47261.66574  ...   44323.69935   44513.18218   45198.53779
4   56256   54545.90015   52559.77590  ...   43883.27158   43306.37551   42748.07242

[5 rows x 11 columns]

In [ ]:
poblacion.loc[[3, 4, 5]]

         #   2000         2001  ...         2023         2024         2025
3  10 a 14  49455  48183.84797  ...  43277.94094  42292.58316  41312.10081
4  15 a 19  56256  54545.90015  ...  45364.69630  44972.00701  44463.84133
5  20 a 24  56546  56715.87452  ...  43183.81325  43872.94654  44168.23864

[3 rows x 27 columns]

In [ ]:
poblacion[[2021,2022, 2023]].loc[[3, 4, 5]]

          2021         2022         2023
3  45064.62452  44198.72105  43277.94094
4  45790.56760  45635.49235  45364.69630
5  41218.05509  42252.19438  43183.81325

In [ ]:
poblacion.loc[3,[2021,2022, 2023]]

2021    45064.6
2022    44198.7
2023    43277.9
Name: 3, dtype: object

In [5]:
nueva_poblacion = poblacion[[2021,2022,2023]].loc[0:10]

In [6]:
nueva_poblacion

            2021          2022          2023
0   521101.15060  520917.44110  521091.10960
1    37627.34036   37093.77102   36700.12936
2    41425.02399   40337.37378   39338.98792
3    45064.62452   44198.72105   43277.94094
4    45790.56760   45635.49235   45364.69630
5    41218.05509   42252.19438   43183.81325
6    36540.43917   36419.34581   36563.43663
7    35483.86360   34906.95360   34624.51077
8    39479.69348   37924.08544   36331.67427
9    40573.95494   40573.87422   40207.00612
10   32875.59929   34530.92141   36145.12501

In [9]:
filas = nueva_poblacion[2021] > 40000

In [11]:
nueva_poblacion[filas]

           2021          2022          2023
0  521101.15060  520917.44110  521091.10960
2   41425.02399   40337.37378   39338.98792
3   45064.62452   44198.72105   43277.94094
4   45790.56760   45635.49235   45364.69630
5   41218.05509   42252.19438   43183.81325
9   40573.95494   40573.87422   40207.00612

In [12]:
nueva_poblacion[nueva_poblacion[2021] > 40000]

           2021          2022          2023
0  521101.15060  520917.44110  521091.10960
2   41425.02399   40337.37378   39338.98792
3   45064.62452   44198.72105   43277.94094
4   45790.56760   45635.49235   45364.69630
5   41218.05509   42252.19438   43183.81325
9   40573.95494   40573.87422   40207.00612

## Crear nuevas columnas, borrar filas y columnas

In [13]:
nueva_poblacion['Suma'] = nueva_poblacion[2021] + nueva_poblacion[2022] + nueva_poblacion[2023]

In [14]:
nueva_poblacion.head()

           2021          2022          2023          Suma
0  521101.15060  520917.44110  521091.10960  1.563110e+06
1   37627.34036   37093.77102   36700.12936  1.114212e+05
2   41425.02399   40337.37378   39338.98792  1.211014e+05
3   45064.62452   44198.72105   43277.94094  1.325413e+05
4   45790.56760   45635.49235   45364.69630  1.367908e+05

In [18]:
nueva_poblacion.drop('Suma', axis= 1, inplace= True)

In [19]:
nueva_poblacion.head()

           2021          2022          2023
0  521101.15060  520917.44110  521091.10960
1   37627.34036   37093.77102   36700.12936
2   41425.02399   40337.37378   39338.98792
3   45064.62452   44198.72105   43277.94094
4   45790.56760   45635.49235   45364.69630

In [22]:
nueva_poblacion.drop([0, 5, 10], inplace= True)

In [36]:
nueva_poblacion

          2021         2022         2023
1  37627.34036  37093.77102  36700.12936
2  41425.02399  40337.37378  39338.98792
3  45064.62452  44198.72105  43277.94094
4  45790.56760  45635.49235  45364.69630
6          NaN  36419.34581  36563.43663
7  35483.86360  34906.95360  34624.51077
8  39479.69348          NaN  36331.67427
9  40573.95494  40573.87422  40207.00612

In [29]:
import numpy as np

In [31]:
nueva_poblacion.loc[6, 2021] = np.nan

In [33]:
nueva_poblacion.loc[8, 2022] = np.nan

## Manejo de datos faltantes

In [37]:
nueva_poblacion.dropna()

          2021         2022         2023
1  37627.34036  37093.77102  36700.12936
2  41425.02399  40337.37378  39338.98792
3  45064.62452  44198.72105  43277.94094
4  45790.56760  45635.49235  45364.69630
7  35483.86360  34906.95360  34624.51077
9  40573.95494  40573.87422  40207.00612

In [42]:
nueva_poblacion.fillna(value= 'Valor de reemplazo')

                 2021                2022         2023
1             37627.3             37093.8  36700.12936
2               41425             40337.4  39338.98792
3             45064.6             44198.7  43277.94094
4             45790.6             45635.5  45364.69630
6  Valor de reemplazo             36419.3  36563.43663
7             35483.9               34907  34624.51077
8             39479.7  Valor de reemplazo  36331.67427
9               40574             40573.9  40207.00612

## Algunas funciones estadísticas

In [59]:
# describe()
poblacion.describe()

                2000           2001  ...           2024           2025
count      54.000000      54.000000  ...      54.000000      54.000000
mean    39089.777778   39175.216422  ...   38639.296072   38712.284347
std     83301.045978   83462.141726  ...   81836.927655   81974.008882
min      2590.000000    2655.433087  ...    4384.443947    4510.985008
25%     10068.750000   10209.136597  ...   12998.534160   13458.432193
50%     19151.000000   19457.006240  ...   18784.114020   19091.864335
75%     29229.500000   28511.692122  ...   27105.286767   28265.395168
max    527712.000000  528865.421700  ...  521630.497000  522615.838700

[8 rows x 26 columns]

In [61]:
# count()
poblacion[2021].count()

54

In [62]:
# mean()
poblacion[2021].mean()

38600.08523298149

In [63]:
# median()
poblacion[2021].median()

18813.67018

In [65]:
# std()
poblacion[2021].std()

81809.35591881633

81809.35591881633

In [66]:
nueva_poblacion

          2021         2022         2023
1  37627.34036  37093.77102  36700.12936
2  41425.02399  40337.37378  39338.98792
3  45064.62452  44198.72105  43277.94094
4  45790.56760  45635.49235  45364.69630
6          NaN  36419.34581  36563.43663
7  35483.86360  34906.95360  34624.51077
8  39479.69348          NaN  36331.67427
9  40573.95494  40573.87422  40207.00612

In [69]:
nueva_poblacion[2021].fillna(value= nueva_poblacion[2021].mean(), inplace= True)

In [70]:
nueva_poblacion

           2021         2022         2023
1  37627.340360  37093.77102  36700.12936
2  41425.023990  40337.37378  39338.98792
3  45064.624520  44198.72105  43277.94094
4  45790.567600  45635.49235  45364.69630
6  40777.866927  36419.34581  36563.43663
7  35483.863600  34906.95360  34624.51077
8  39479.693480          NaN  36331.67427
9  40573.954940  40573.87422  40207.00612